.svg-svg--arr-black {
	background: url(svg/sprite.view.svg) 94.54545454545455% 70.94594594594595% no-repeat;
}

.svg-svg--arr-black-dims {
	width: 28px;
	height: 32px;
}

.svg-svg--arr-right {
	background: url(svg/sprite.view.svg) 95.41284403669725% 48.275862068965516% no-repeat;
}

.svg-svg--arr-right-dims {
	width: 30px;
	height: 35px;
}

.svg-svg--arr-up {
	background: url(svg/sprite.view.svg) 98.11320754716981% 26.666666666666668% no-repeat;
}

.svg-svg--arr-up-dims {
	width: 36px;
	height: 30px;
}

.svg-svg--c-20x20 {
	background: url(svg/sprite.view.svg) 100% 0 no-repeat;
}

.svg-svg--c-20x20-dims {
	width: 40px;
	height: 40px;
}

.svg-svg--c-50x33 {
	background: url(svg/sprite.view.svg) 26.53061224489796% 0 no-repeat;
}

.svg-svg--c-50x33-dims {
	width: 52px;
	height: 41.12px;
}

.svg-svg--h-50x50 {
	background: url(svg/sprite.view.svg) 0 40.625% no-repeat;
}

.svg-svg--h-50x50-dims {
	width: 52px;
	height: 52px;
}

.svg-svg--r-100x200 {
	background: url(svg/sprite.view.svg) 24.528301886792452% 40.625% no-repeat;
}

.svg-svg--r-100x200-dims {
	width: 36px;
	height: 52px;
}

.svg-svg--r-20x20 {
	background: url(svg/sprite.view.svg) 57.69230769230769% 100% no-repeat;
}

.svg-svg--r-20x20-dims {
	width: 40px;
	height: 40px;
}

.svg-svg--r-20x20-1 {
	background: url(svg/sprite.view.svg) 76.92307692307692% 100% no-repeat;
}

.svg-svg--r-20x20-1-dims {
	width: 40px;
	height: 40px;
}

.svg-svg--r-20x20-2 {
	background: url(svg/sprite.view.svg) 0 100% no-repeat;
}

.svg-svg--r-20x20-2-dims {
	width: 40px;
	height: 40px;
}

.svg-svg--r-20x20-3 {
	background: url(svg/sprite.view.svg) 19.23076923076923% 100% no-repeat;
}

.svg-svg--r-20x20-3-dims {
	width: 40px;
	height: 40px;
}

.svg-svg--r-300x100 {
	background: url(svg/sprite.view.svg) 53.06122448979592% 34.82220585280922% no-repeat;
}

.svg-svg--r-300x100-dims {
	width: 52px;
	height: 30.67px;
}

.svg-svg--r-60x30 {
	background: url(svg/sprite.view.svg) 0 72.22222222222223% no-repeat;
}

.svg-svg--r-60x30-dims {
	width: 52px;
	height: 36px;
}

.svg-svg--s-40x40 {
	background: url(svg/sprite.view.svg) 79.59183673469387% 0 no-repeat;
}

.svg-svg--s-40x40-dims {
	width: 52px;
	height: 52px;
}

.svg-svg--s-40x40-1 {
	background: url(svg/sprite.view.svg) 79.59183673469387% 40.625% no-repeat;
}

.svg-svg--s-40x40-1-dims {
	width: 52px;
	height: 52px;
}

.svg-svg--s-40x40-2 {
	background: url(svg/sprite.view.svg) 53.06122448979592% 0 no-repeat;
}

.svg-svg--s-40x40-2-dims {
	width: 52px;
	height: 52px;
}

.svg-svg--s-50x50 {
	background: url(svg/sprite.view.svg) 0 0 no-repeat;
}

.svg-svg--s-50x50-dims {
	width: 52px;
	height: 52px;
}

.svg-svg--t-20x20 {
	background: url(svg/sprite.view.svg) 38.46153846153846% 100% no-repeat;
}

.svg-svg--t-20x20-dims {
	width: 40px;
	height: 40px;
}

